* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#hero h1 {
  font-family: "Open Sans";
  font-weight: 400;
}

#hero span {
  font-weight: bold;
  color: #FF9900;
}

#hero p {
  font-family: "Inter";
  text-align: center;
}